@model List<Album>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@*<h3>@ViewData["Message"]</h3>*@

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

$(function () {
    $(".AddRecord").click(function () {
        // Get the id from the link
        var recordToAdd = $(this).attr("data-id");
        var PostToUrl = $(this).attr("data-url");
        if (recordToAdd != '') {

            // Perform the ajax post
            $.ajax(PostToUrl, {
                type: "post",
                data: {
                    "id": recordToAdd
                },
                dataType: "json",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                }
            }).done(function (id) {
                // Successful requests get here
                // Update the page elements
                $('#status_' + id).html('<label>In collection</label>');

                //$('#cart-total').text(data.cartTotal);
                //$('#update-message').text(data.message);
                //$('#cart-status').text(data.cartCount);
            });

        }
    });
});

</script>

<div class="row">
    <h2>Record Collection - Add Record</h2>
    <a asp-action="Index" asp-controller="Home">
        <div id="btn-my-records" class="btn btn-primary">
            <span class="glyphicon glyphicon-th-list"></span> My Records
        </div>
    </a>
    <h3>Search in Last.fm</h3>
    @using (Html.BeginForm())
    {
        <div class="col-md-3">
            Artist: @Html.TextBox("searchArtist")
        </div>
        <div class="col-md-3">
            Title: @Html.TextBox("searchTitle")
        </div>
        <input type="submit" value="Search" />
    }
    <br /><br />
    @if (Model.Count > 0)
    {
    <table id="search-results" class="table table-bordered table-responsive table-hover table-striped">
        <tr>
            <th>
                Image
            </th>
            <th width="100%">
                Artist - Title
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            @if (item.LastAlbum != null)
            {
                <tr>
                    <td>
                        <img src="@if (item.LastAlbum.Images.Large != null) { @item.LastAlbum.Images.Large.AbsoluteUri; } " alt="@item.LastAlbum.Name" title="@item.LastAlbum.Name" />
                    </td>
                    <td>
                        <h3>@string.Concat(item.LastAlbum.ArtistName, " - ", item.LastAlbum.Name)</h3>
                    </td>
                    <td>
                        <div id="status_@item.LastAlbum.Mbid">
                            @if (item.AlbumInCollection)
                            {
                                <label>In collection</label>
                            }
                            else
                            {
                                <a class="btn btn-primary AddRecord" data-id="@item.LastAlbum.Mbid"
                                    data-url='@Url.Content("~/Browse/Add")'>
                                    <span class="glyphicon glyphicon-plus-sign"></span> Add to Collection
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
    }
    else
    {
        <div>No records found</div>

    }
</div>

